<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ERP Test Suite - Jenkins" parallel="false">
  <parameter name="headless" value="false"/>
  <parameter name="browser" value="chrome"/>
  <parameter name="environment" value="jenkins"/>
  
  <test name="Cucumber Tests" preserve-order="true">
    <parameter name="headless" value="false"/>
    <classes>
      <class name="runners.TestRunner"/>
      <class name="stepDefinitions.LoginStepsReportCard"/>
    </classes>
  </test>
</suite>